[Unit]
Description=compte freewifi user

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/bin/bash -c 'sudo python -u /home/pi/Desktop/c.py'
WorkingDirectory=/home/pi/Desktop
Restart=always
User=pi

[Install]
WantedBy=multi-user.target